@use "colors/color" as *;
@use "sizes/size";
@use "rules/mixins" as *;

$border-design: 1px solid map-get($map: $primary_colors, $key: text-color);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.heading {
    padding-top: 10px;
    max-height: 65px;
    .container {
        max-width: 96%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    div {
        display: flex;
        align-items: center;
    }

    // the bar-icon and logo section
    .logo-bar {
        flex-basis: 200px;
        width: 200px;
    }
    .bar-icon{
        
        margin-right: 25px;
        cursor: pointer;
        @include hoverCircle();
        i {
            margin: 0 auto;
            font-size: size.$icon-size;
            color: map-get($map: $primary_colors, $key: title-color)
        }
    }

    .logo {
        width: 100px;
        cursor: pointer;
        img {
            max-width: 100%;
        }
    }

    // the search engine section
    .search-engine {
        
        justify-content: end;
        position: relative;
        flex: 0 1 728px;
        
        .search-en {
            display: none;

            @include mobile(size.$disappear-feild) {
                display: flex;
                cursor: pointer;
                text-align: center;
                i {
                    margin: 0 auto;
                    font-size: size.$icon-size;
                }
            }
            @include popup("Search", 70px);
            @include hoverCircle();
        }

        // the field design
        .center {
            display: flex;
            justify-content: end;
            flex-basis: 100%;
            @include mobile(size.$disappear-feild) {
                display: none;
            }
        }
        form {
            flex-basis: size.$field-width;
            position: relative;
            border: $border-design;
            border-left: none;
            border-right: none;
            padding: size.$padding-search;
            box-shadow: 0px -.5px .9px #f3f3f3 inset, -.5px 0px .9px #f3f3f3 inset;
            span {
                position: absolute;
                top: -1px;
                left: -20px;
                width: 20px;
                height: size.$fieldBtn-height + 2px;
                border: $border-design;
                border-right: none;
                border: {
                    top-left-radius: size.$border-rd;
                    top-right-radius: 0px;
                    bottom-left-radius: size.$border-rd;
                    bottom-right-radius: 0px; 
                };
            }

            // make the engine field responsive
            @include mobile(1150px) {
                flex-basis: 60%;
            }
            @include mobile(770px) {
                flex-basis: 30%;
            }
            
            
        }
        
        .search {
            width: 100%;
            height: size.$fieldBtn-height - 10px;
            border: none;
            border-radius: size.$border-rd;
            color: map-get($map: $primary_colors, $key: title-color);
            font-weight: 400;
            font-size: 18px;
            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #888888;
                font-weight: 420;
            }

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                -webkit-user-modify: read-write !important;
                content: URL("../images/X.png");
                height: 18px;
                width: 18px;
                margin-right: 10px;
                cursor: pointer;
                color: map-get($map: $primary_colors,  $key: text-color);
            }
            
            
        }

        
        
        // button design
        .btn {
            width: 64px;
            height: size.$fieldBtn-height + 2px;
            display: block;
            border-left: none;
            border-radius: 0 size.$border-rd size.$border-rd 0;
            border: $border-design;
            color: map-get($map: $primary_colors, $key: title-color);
            background-color: #f0f0f0;
            transition: .4s linear;
            cursor: pointer;
            @include popup("Search", 70px);
            & i {
                padding: 0 10px;
                font-size: size.$icon-size - 5px;
            }
            &:hover {
                background-color: #d3d3d3;
            }
        }
        .mic {
            margin-left: 20px;
            @include mobile(size.$disappear-feild) {
                margin-left: 15px;
            }
            @include mobile(size.$disappear-on-mobile) {
                display: none;
            }
            cursor: pointer;
            text-align: center;
            i {
                margin: 0 auto;
                font-size: size.$icon-size;
            }
            @include popup("Search with your voice", 170px);
            @include hoverCircle();
        }
    }


    // the profile and your channel section
    .your-channel {
        @include mobileMin(size.$disappear-feild) {
            min-width: 185px;
        }
        justify-content: end;
        div {
            margin-left: 15px;
            cursor: pointer;
            i {
                font-size: size.$icon-size;
                margin: 0 auto
            }
            
            @include hoverCircle();
        }

        .post-video {
            @include popup("Create", 70px);
        }
        .bell {
            @include popup("Notification", 90px);
            @include mobile(size.$disappear-on-mobile) {
                display: none;
            }
        }

        .profile {
            width: size.$icon-size + 15px;
            height: size.$icon-size + 15px;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            img {
                height: 100%;
                max-width: 100%;
            }
        }
    }

}

