
@use "../sizes/size" as *;
@use "../colors/color" as *;

// on hover pop up mixin

@mixin popup($text, $width) {
    & span {
        &::after {
            content: $text;
            font-size: 13px;
            color: #F2F2F2; 
        }
        text-align: center;
        padding: 8px 5px;
        display: none;
        width: $width;
        position: absolute;
        z-index: 100;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #707070;
        border-radius: 2px;
    }
    &:hover span {
        display: block;
    }
};


@mixin hoverCircle() {
    & {
        width: $circl-hover;
        height: $circl-hover;
        border-radius: 50%;
        transition: .3s ease-in-out;
        
        &:hover {
            background-color: map-get($map: $primary_colors, $key: active-color);
        }
    }
}

@mixin mobile($width){
    @media (max-width:$width) {
        @content;
    }
}

@mixin mobileMin($width){
    @media (min-width:$width) {
        @content;
    }
}

@mixin customeQuerry($width) {
    @media (max-width:$width) {
        @content;
    }
}

// small box

@mixin modifiedBox{
    .content-selectors.small {
        left: $box-size-small + 10px;
    }

    .content.small {
        left: $box-size-small + 30px;
        width: calc(100% - ($box-size-small + 10px));
    }

    .blockPre.small {
        left: $box-size-small;
    }
    .settings-box.small {
        width: $box-size-small;
        padding: 10px;
        > div {
            padding: 5px;
            flex-direction: column;
            margin-bottom: 20px;
            .icon {
                flex-basis: 0;
                margin: 10px;
            }
            p {
                font-size: 12px;
                margin: 2px 0 5px 0;
            }
        }
        .active {
            background-color: white;
        }
    }
}

@mixin blockArrow {
    position: fixed;
    top: 70px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
}

@mixin arrow {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    i {
        font-size: $icon-size;
    }
}

